*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  .container{
    width: 1100px;
    margin:0 auto;
    
  }
  .mb-70{
    margin-bottom: 70px;
  }
  .mb-90{
      margin-bottom: 90px;
  }
  .mb-130{
    margin-bottom: 130px;
  }
  .row, .row::after,.row::before{
    display: table;
    clear: both;
    width: 100%;
  }
  a:link,a:visited{
    text-decoration: none;
  }
  .text-center{
    text-align: center;

  }
  .px-50{
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /* ===========================col div css================================= */
  div[class^="col"] {
    float: left;
    padding: 0 15px;
}



.col1{
    width: calc(100% * 1 /12);
}
.col2{
  width: calc(100% * 2 /12);
}
.col3{
  width: calc(100% * 3 /12);
}
.col4{
  width: calc(100% * 4 /12);
}
.col5{
  width: calc(100% * 5 /12);
}
.col6{
  width: calc(100% * 6 /12);
}
.col9{
  width: calc(100% * 9 /12);
}
.col10{
  width: calc(100% * 10 /12);
}
.col12{
  width: calc(100% * 12 /12);
}

.offset-1{
    margin-left: calc(100% *1/12);
 }
 .offset-2{
    margin-left: calc(100% *2/12);
 }

  /*====================== font css====================== */
  .pri_heading{
    font-size: 32px;
    color: #010101;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif !important ;
  
  }
  .sec_heading{
    font-size: 20px;
    font-weight: bold;
    color: #313841;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif !important ;

  } 
  .text-center{
    text-align: center;
  }
  .para{
    font-size: 16px;
    color: #555555;
    margin-bottom: 42px;
   

  }
  .intouch .pri_heading{
    color: #fcdb00
  }
  .intouch .para{
      color: #898989;
  }



  /* =====footer------ */

  